<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render partial:'recipe',locals:{recipe_data:recipe} %>
    <p>
      <%= link_to "Show this recipe", recipe_url(id:recipe.id) ,method: :get%>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
